<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
     <add key="StagingConnectionString" value="Data Source=DEVSQLSRV\ECCATALOG; Initial Catalog=EC_FAST_DATA; Persist Security Info=True; User ID=BlackBaudDataParser; Password=ecc%BBDP1805;application name=BlackBaudDataParser" />
    <add key="FASTConnectionString" value="Data Source=DEVSQLSRV\VBORDERS; Initial Catalog=ec_fast; Persist Security Info=True; User ID=IntranetUser; Password=7fev$4@e; application name=BlackBaudDataParser" />

    <!--<add key="StagingConnectionString" value="Data Source=ECCATALOG; Initial Catalog=EC_FAST_DATA; Persist Security Info=True; User ID=webuser; Password=pink2floyd;application name=BlackBaudDataParser" />
    <add key="FASTConnectionString" value="Data Source=VBORDERS; Initial Catalog=ec_fast; Persist Security Info=True; User ID=vbwebuser; Password=bo!18web3h2vb; application name=BlackBaudDataParser" />-->

    <add key="base_url" value="https://integrate.elluciancloud.com" />
    <add key="GetSchoolsSP" value="uspFAST_SELECT_EllucianSchools_Banner" />
    <add key="insertStudent" value="spIns_tblEllucianStudents_Banner" />
    <add key="insertSection" value="spIns_tblEllucianSections_Banner" />
    <add key="insertTerm" value="spIns_tblEllucianTerms_Banner" />
    <add key="insertEnrollment" value="spIns_tblEllucianEnrollment_Banner"/>
    <add key="insertInstructorInfo" value="spIns_tblEllucianInstructor_Banner"/>
    <add key="insertCourseInfo" value="spIns_tblEllucianCourses_Banner"/>
    <add key="insertSites" value="spIns_tblEllucianSites_Banner"/>
    <add key="insertIABooks" value="spIns_tblEllucianDrakeIABOOK_Banner"/>





    <add key="courseProcessingSP" value="spProc_EllucianCourseData_Banner" />
    <add key="studentProcessingSP" value="spProc_EllucianStudentData_Banner" />
    <add key="scheduleProcessingSP" value="spProc_EllucianScheduleData_Banner" />

    <add key="ForceSchoolID" value="6615" />


    <add key="EmailFrom" value="EllucianAPI-Banner-Kern1234@ecampus.com" />
    <add key="EmailTo" value="lbarnes@ecampus.com" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
